<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">VideoPlayer</a>
    </div>
    <ul class="navbar-nav">
      <li class="navbar-item"><a class="nav-link" routerLink="/home" routerLinkActive="active" style="color: white;">Home</a></li>
      <li class="navbar-item"><a class="nav-link" routerLink="/videos" routerLinkActive="active" style="color: white;">Playlist</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
